body{
  background-color: pink;
}

h1 {
  color: blue;
}

.container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.content {
    max-width: 750px;
    margin: auto;
}